<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @prompt.creator %>
</p>

<p>
  <strong>Content:</strong>
  <%= @prompt.content %>
</p>

<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
<%= link_to 'Back', prompts_path %>
